
    <link rel="stylesheet" type="text/css" href="../css/style.css">
<body>
    <h1>WYBIERZ</h1>
    <button class="choice" ><a href="/student">STUDENT</a></button>
    <button class="choice" ><a href="/teacher">NAUCZYCIEL</a></button>
    <button class="choice" ><a href="/headmaster">DYREKTOR</a></button>
</body>